h2 {
    color:white;
font-size: 2em;
}

h1{
   position: center; 
    color:white;
}
body{
    background-color: rgb(216, 197, 162);
    font-size: 20px;
    padding-right: 03%;
    padding-left: 40%;
}
strong {
    color:white;
}
#gastronomy_is_considered {
    background-color:rgb(209, 84, 84);
}
.list_style {
    background-color: rgb(142, 125, 158);
    color:wheat;
    font-weight: bold;
    font-style:italic;
    line-height: 40px; 
    text-align: center;
text-decoration: underline;
}
p {
    font-family:'Times New Roman', Times, serif;   
} 
.menu,h1{
position:static;
width:80%;
top:05%;
padding-right: 50%;
left:0%;
background-color: rgb(209, 85, 85);
}
.menu{
display:inline;
}
