* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.cont{
  text-align: center;
  background-color:rgb(197, 189, 189);
  
}
.header{
background-color:rgb(145, 8, 150);
padding: 10px;
}

.footer{
  background-color:rgb(150, 9, 155);
  padding: 50px;
}
 
.content, p, h4{
  color:black;
  margin-top:30px;
  
}

h1{
  color:yellow;
}